#aboutComponent {
  /* background-color: black; */
  color: white;
}
#aboutImgContainer {
  height: 100%;
  width: 100%;
}
#aboutImg {
  /* height: 100%; */
  height: 30em;

  width: 100%;
  object-fit: contain;
  background-color: white;
}
#aboutTextGroup {
  height: 100%;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 5px solid white; */
}
#aboutTitle {
}
